body{
    width:95vw;
    height: 95vh;

    display:flex;   
    flex-direction:row; /* row, row-reverse, column, column-reverse*/ 
    gap:10px;
    flex-wrap: nowrap; /*nowrap, wrap, wrap-reverse */

    justify-content: flex-start; /* when flex direction is a row, this manages how content is justified horizontally*/
                             /* when flex direction is a column, it is vertical */
                            /* flex-start, flex-end, center, space-around */


    align-items: center; /* when flex direction is a row, this dictates where the items are vertically,
                            when the flex direction is a column, this dictates where items are horizontally
                            flex-start, flex-end, center, space-around */

                            }


div {
    width:100px;
    height:100px;
    text-align:center;
    font-size: 50px;
   
}

#div1 {
    background-color: blue;
   /* flex-basis: 50px; /*initial size*/ 
 
}

#div2 {
    background-color: red;
   
    
}

#div3 {
    background-color: yellow;
    
}

#div4 {
    background-color: green;
}

#div5 {
    background-color: purple;
    

}

.largerBox {
    width: 200px;
    height: 200px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}