
/*
This is a comment
*/
img {
    height:200px;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
    color: #3A6334;
    border: solid black 1px;
}

th{
    text-align: left;
    background-color: gray;
}

#lunchSection{
    font-style: italic;
}

.lunch {
    color: red;
}

#leto {
    height: 500px;
}
#testDiv{
    background-color:orange;
    height:300px;
    width:300px;
}
#testSpan{
    background-color:orange;
    height:300px;
    width:300px;
    display:inline-block;
}